* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  width: 700px;
  margin-left: calc((100% - 700px) / 2);
  background-color: rgb(239, 177, 177);
  margin-top: 60px;
  padding: 10px;
  border: 5px double black;
  height: 70vh;
}

img {
  display: block;
  width: 100px;
  margin: 10px auto;
}

nav {
  border-top: 3px solid black;
  border-bottom: 1px solid black;
  padding: 10px;
  margin-bottom: 20px;
}

ul {
  width: 100%;
  height: 20px;
  text-align: center;
}

li {
  display: inline-block;
  margin: 0 30px;
}

.pics {
  display: inline-block;
}

.pic-one,
.pic-two,
.pic-three {
  display: inline;
}

.pics img {
  width: calc(100% / 3);
  float: left;
  object-fit: contain;
}

p {
  text-align: center;
  padding: 10px;
}
